html, body, ul {
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
	font-size: 12px;
}
.mainContainer {
	width: 200px;
    height: auto;
    margin: 0 auto;
}
ul {
	margin-top: 20px;
}
ul li {
	width: auto;
	padding: 5px;
	margin: 5px 0;
}
ul li:nth-child(2n) {
	background: gray;
}